* text=auto eol=lf

*.cs text eol=crlf
*.ps1 text eol=crlf
*.shader text eol=lf
*.cginc text eol=lf
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.fbx binary
*.obj text eol=lf
*.unity text eol=lf
*.prefab text eol=lf
*.asset text eol=lf
*.mat text eol=lf
*.meta text eol=lf
